
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
}

.logoname{
    position: absolute;
    left: 100px;
}
.navbar h1 {
    margin: 0;
    font-size: 24px;
    color: black;
}
.nav-links {
    display: flex;
    gap: 20px;
}
.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px;
    transition: color 0.3s;
}
.nav-links a:hover {
    color: #007bff;
}
.quote-button {
    padding: 10px 20px;
    background-color:black;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.quote-button:hover {
    background-color: #0056b3;
}
@media (max-width: 600px) {
    .nav-links {
        flex-direction: column;
        align-items: flex-start;
    }
}

.Navigating{
    font-size: xx-large;
    font-weight: bold;
    position: absolute;
    left: 80px;
    top: 150px;
}
.text-1{
    position: absolute;
    left: 80px;
    top: 320px;
    width: 350px;

}
.btn-book{
    position: absolute;
    left: 80px;
    top: 450px;
    background-color: black;
    border-radius: 10px;
    color: white;
    width: 200px;
    height: 50px;
}
.image-illustration{
    position: absolute;
    right: 200px;
    top: 85px;
  right: 65px;
}
.logo-type{
 margin-top: 20px;
    position: absolute;
    top: 600px;
    width: 90%;
}
.btn-services{
    width: 220px;
    font-size: x-large;
    font-weight: bold;
    border-radius: 10px;
    border-color: greenyellow;
    position: absolute;
    top: 750px ;
    height: 70px;
    background-color: greenyellow;
    color: black;
}
.services-text{
    position: absolute;
    top: 760px;
    left: 330px;
    width: 500px;
}
.box-1 {
    width: 500px;
    height: 200px;
    background-color: wheat;
    border-color: 10px solid black;
    position: absolute;
    top: 900px ;
    border-radius: 20px;
}
.box-2 {
    width: 500px;
    height: 200px;
    background-color: burlywood;
    position: absolute;
    top: 900px ;
    right: 100px ;
    border-radius: 20px;

}
.box-1-text-color{
    background-color: greenyellow;
    width: 150px;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 40px;
    font-size: large;
    font-weight: bold;
}
.box-1-img{
    width: 150px;
    height: 150px;
    position: absolute;
    left: 300px;
    top: 35px;
    
}